# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/
.env

# Node / React
node_modules/
dist/
dist-ssr/
*.local
.eslintcache

# Project Specific
uploads/
*.pdf
*.docx
!demo_resume.docx
token.json
credentials.json

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
